<div class="page">
  <!-- <img class="icon" src="../assets/img/emp.png"> -->



  <header class="panel-heading">
    <button class="btn btn-primary btn-sm " data-target="#exampleFormModal" data-toggle="modal" type="button">Mark
      Attendance</button>
     
    <h2 class="panel-title text-center">Attendance List</h2>
  </header>

  <div class="panel-body">
    <table class="table table-hover table-striped" cellspacing="0" id="exampleAddRow">
      <thead>
        <tr>

          <th> ID</th>
          <th>Employee ID</th>
          <th>Date</th>
          <th>On Duty</th>
          <th>Off Duty</th>
          <th>Clock-in</th>
          <th>Clock-out</th>
          <th>Late</th>
          <th>Early</th>
          <th>Absent</th>
          <th>Overtime</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngFor="let attendance of attendance.Attendance_Employees">
         <td>{{attendance.id}}</td>
          <td> {{attendance.employee_id}} </td>
          <td> {{attendance.date}} </td>
          <td> {{attendance.on_duty}} </td>
          <td> {{attendance.off_duty}}</td>
          <td> {{attendance.clock_in}} </td>
          <td> {{attendance.clock_out}} </td>
         
          <td>{{attendance.late}}</td>
          <td>{{attendance.early}}</td>
          <td>{{attendance.absent}} </td>
          <td>{{attendance.ot_time}} <td></td>
          <td class="actions">
            <!-- <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing save-row" data-toggle="tooltip"
              data-original-title="Save" hidden><i class="icon md-wrench" aria-hidden="true"></i></a>
            <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing cancel-row" data-toggle="tooltip"
              data-original-title="Delete" hidden><i class="icon md-close" aria-hidden="true"></i></a> -->
            <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip"
              data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>
            <!-- <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip"
              data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a> -->
          </td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleFormModal" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog"
  tabindex="-1">
  <div class="modal-dialog modal-simple">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="exampleFormModalLabel">Employee Attendance</h4>
      </div>

      <div class="modal-body">
        <form>

          <div>
            <div class="row">

              <div class="col-xl-6 form-group"> Employee ID
                <input [disabled]="true" type="text" class="form-control" name="emp_id" placeholder="XPR-1060" required>
              </div>
              <div class="col-xl-6 form-group"> Attendance Date
                <input type="date" class="form-control" name="date" required>
              </div>

              <div class="col-xl-6 form-group"> Employee Name
                <input type="text" class="form-control" name="emp_name" placeholder="" required>
              </div>

              <div class="col-xl-6 form-group"> Status
                <select name="" id="" class="form-control">
                  <option value="1">Present</option>
                  <option value="2">Absent</option>
                  <option value="3">On Leave</option>
                  <option value="4">Half Day</option>
                </select>
              </div>
              <div class="col-md-12 float-right">
                <button class="btn btn-success mr-1" data-dismiss="modal" type="button">Save</button>
                <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
              </div>

            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->